<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='page'>Welcome to {{name}}'s website!</div>
    {{{body}}}
  </body>
</html>
