<!DOCTYPE html>
<html>
  <head>
    <title>{{name}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascript/jquery-2.2.0.min.js" ></script>
    <script src="javascript/jake.js" ></script>
    <script src="javascript/drag.js" ></script>
  </head>
  <body>
    <div id='page'>Welcome to {{name}}'s website!</div>
    {{{body}}}
  </body>
</html>
