<div class="main_img_wrap">
	<center>
	    <img class="main_img" src="images/S.jpg" />
	    <img class="main_img" src="images/A.jpg" />
	    <img class="main_img" src="images/M.jpg" />
	</center>    
</div>

<br>
<br>

<p>
	Welcome to the personal website of {{name}}. Please sit back, turn off your cellphones, and enjoy the show. 
</p>

