<div class="main_img_wrap">
	<center>
	    <img class="main_img" src="images/S.jpg" />
	    <img class="main_img" src="images/A.jpg" />
	    <img class="main_img" src="images/M.jpg" />
	</center>    
</div>

<br>
<br>

<p>
	Welcome to the personal website of {{name}}. Please sit back, turn off your cellphones, and enjoy the show. 
</p>


 <div class="link">
 	<a href="/">Back</href>
 </div>

 <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <img src="images/torch2.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="auto">
    <div id='links' style='display: none;'>
		<a href="/">Back</href>
    </div>
</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div id='box'>
     <img src='images/torch.jpg' width='88' height=auto>
</div>