body {
  background-color: black;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00FF99;
}

a {
}
#page{
	background-color: #00FF99;
	height: 10%;
	width: 100%;
	font-size: 50px;
	text-align: center;
	color: black;
}
.main_img_wrap {
	width: 100%;
	text-align: center;
}
.main_img {
    width: 300px;
    height: auto;
}
.link {
	float: left;
	padding: 10px;
	border: 1px solid #00FF99;
	color: #00FF99;
}
#box {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 90px;
    height: 120px;
    padding: 10px;
    border: 1px solid #00FF89;
}
#div1 {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 90px;
    height: 120px;
    padding: 10px;
    border: 1px solid #00FF89;
}
#div2 {
    position: absolute;
    left: 20px;
    top: 250px;
    width: 90px;
    height: 120px;
    padding: 10px;
    border: 1px solid black;
}