<h1>These are optical illusions.</h1>
<br>
<br>

<div class="main_img_wrap">
    <img class="main_img" src="images/panda.jpg" />
    <img class="main_img" src="images/illusion.jpg" />
    <img class="main_img" src="images/blocks.gif" />
    <img class="main_img" src="images/susse.jpg" />
    <img class="main_img" src="images/triangle.gif" />
</div>

<br>

<div class="main_img_wrap">
    <img class="main_img" src="images/gif.gif" />
    <img class="main_img" src="images/tri3.gif" />
    <img class="main_img" src="images/greyblock.gif" />
    <img class="main_img" src="images/ball.gif" />
</div>

<br>
<br>

<h1>The cat section.</h1>

<div class="main_img_wrap">
    <img class="main_img" src="images/cat3.gif" />
    <img class="main_img" src="images/cat2.gif" />
    <img class="main_img" src="images/cat.gif" />
    <img class="main_img" src="images/cat4.gif" />
    <img class="main_img" src="images/cat5.gif" />
    <img class="main_img" src="images/cat6.gif" />
    <img class="main_img" src="images/cat7.gif" />
    <img class="main_img" src="images/cat8.gif" />
    <img class="main_img" src="images/cat9.gif" />
    <img class="main_img" src="images/cat10.gif" />
</div>

<div class="link">
 	<a href="sam">Sam Page</href>
</div>