<h1>Optical Illusions</h1>
<br>
<br>

<div class="main_img_wrap">
    <img class="main_img" src="images/panda.jpg" />
    <img class="main_img" src="images/illusion.jpg" />
    <img class="main_img" src="images/blocks.gif" />
    <img class="main_img" src="images/susse.jpg" />
    <img class="main_img" src="images/triangle.gif" />
</div>

<br>

<div class="main_img_wrap">
    <img class="main_img" src="images/gif.gif" />
    <img class="main_img" src="images/tri3.gif" />
    <img class="main_img" src="images/greyblock.gif" />
    <img class="main_img" src="images/ball.gif" />
</div>

<br>
<br>

<h1>The cat section</h1>

<div class="main_img_wrap">
    <img class="main_img" src="images/cat3.gif" />
    <img class="main_img" src="images/greencat.gif" />
    <img class="main_img" src="images/cat.gif" />
    <img class="main_img" src="images/cat4.gif" />
    <img class="main_img" src="images/cat5.gif" />
    <img class="main_img" src="images/cat6.gif" />
    <img class="main_img" src="images/cat7.gif" />
    <img class="main_img" src="images/jumpycat.gif" />
    <img class="main_img" src="images/cat9.gif" />
    <img class="main_img" src="images/cat10.gif" />
</div>
<br>
<br>

<h1> House Cats </h1>
<br>
<div class='main_img_wrap'>
    <img class="main_img" src="images/Striped_Cat.jpg" />
    <img class="main_img" src="images/trashcat.gif" />
    <img class="main_img" src="images/graycat.gif" />
    <img class="main_img" src="images/tailcat.gif" />
    <img class="main_img" src="images/cat1.jpg" />

</div>

"Domestic cats are characterized by a number of well-known physical characteristics. These include a flexible and compact body, keen eyesight and adaptations for visual acuity at night, retractable claws, sharp teeth and a reduction in numbers of teeth (e.g., the hind chewing teeth) reflecting adaptation as a carnivore, long vibrissae (whiskers), and a long and flexible tail important as an aid to balance."

<br>
    <img class="main_img" src="images/sleepingcat.jpg" />
<br>

<div class="link">
 	<a href="sam">Sam Page</href>
</div>