<div class="main_img_wrap">
    <img class="main_img" src="images/dragon.jpg" />
</div>

 <div class="link">
 	<a href="sam">Sam Page</a>
 	<a href="/">Home</a>
 </div>

<br>
<br>

<h1>Chinese Water <span class='dragonWord'>dragon</span>: Lazarus</h1>


<input id="wordToReplace" onKeyUp="replaceWord(event)" defaultValue="dragon" />
<br />
<br />

<hr>

<div id="float3">
	What they eat:
	<br>
	"Primarily predatory,the water <span class='dragonWord'>dragon</span> is able to eat from a variety of food sources in the forest. Water dragonseat small fish or other aquatic animals, small mammals, or another small reptile. They can also eat the vegetation surrounding them in the forest, but mostly will eat insects from the trees, rocks, or flying through the air."
	<br>
	<img class="main_img" src="images/insect.jpg" />
</div>

<div id='float1'>
	Where they live:
	<br>
	"As the name suggests, the Chinese water <span class='dragonWord'>dragon</span>’s habitat spans throughout parts of Asia, including Thailand, China, Vietnam and India. They favorhabitat nearby to freshwater streams, lakes, and rivers. They live in habitats that are heavily forested around these water areas, such as rainforests and swamps, and spend most of their time in the trees along the bodies of water. Water <span class='dragonWord'>dragon</span>s live in areas of high humidity, and temperatures of 80-100 ̊F."
	<br>
	<img class="main_img" src="images/china.jpg" />
</div>	
	
<div id='float2'>
	Physical abilities:
	<br>	
	"The green markings on the lizard help it to camouflage in the green, forested habitat it lives in. Water <span class='dragonWord'>dragon</span>s use their long tail, which is strong and whip-like, to fend off any predators. When nervous or frightened water <span class='dragonWord'>dragon</span>s take refuge in the water. They are strong swimmers and if necessary, can remain submerged for long periods of time, up to 25 minutes. The tongue is long and sticky, which lets them capture and hold their main prey. Water <span class='dragonWord'>dragon</span>s have a photosensitive 'eye spot' on the top of their heads in the center, called a pineal gland."
	<br>
	<img class="main_img" src="images/dragon5.jpg" />
</div>	
