<div class="main_img_wrap">
    <img class="main_img" src="images/robot.jpg" />
</div>

 <center>
 <br>
 <b>
 	Hello, my name is 
 	<u>
 		Jake Bot.
 	</u>
 </b> 
  <br>
  Please, ask me a simple question about someone I know.
  <br>
 Examples: Samuel, Laurel, Lazarus, Chloe, Noah, Elizabeth, Josh, Peter, You, Me.
  <br>
  <br>
  
 <form id="in" action="">
	 <input type="text" value="" style="width: 250px; font-size: 16px; color: orange;" />
	 <button >Ask</button>
 </form>
 
 <br>
 <br>
 
 <div id="response" ></div>
 
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

 To record your visit to this site, please type your legal first name.
 <br>

<form id='nameInput' onSubmit='saveNames(event)'>

	First name:  <input type="text" name="name" />
	<input type="submit" name="submit" value="Submit" />

</form>

 </center>

 <div class="link">
 	<a href="sam">Sam Page</a>
 	<a href="dragon">Lazarus</a>
 </div>
