<!DOCTYPE html>
<html>
  <head>
    <title>{{person.name}}</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascript/jquery-2.2.0.min.js" ></script>
    <script src="javascript/jake.js" ></script>
    <script src="javascript/drag.js" ></script>
    <script src="javascript/move.js" ></script>
    <script src="javascript/replaceWord.js" ></script>
    <script src="javascript/names.js" ></script>
    <script src="javascript/pack.js" ></script>
  </head>
  <body>
    <div id='page'>Welcome to {{person.name}}'s website!</div>
    {{{body}}}
  </body>
</html>
